<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mooreliu" >

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
       >

        <activity
            android:name=".widget.FlashActivity"
            android:icon="@drawable/icon"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".widget.MainActivity"></activity>

        <!--<service android:enabled="true" android:name="com.mooreliu.service.ServiceCheckNetConnect"/>-->
        <!--<receiver android:name=".service.BroadcastReceiverNetCheck">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.CONNECTIVITY_ACTIONC"></action>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<intent-filter>-->
                <!--<action android:name="com.mooreliu.subService" />-->
            <!--</intent-filter>-->
        <!--</service>-->
        <meta-data android:value="55e6b81ae0f55a1d8100350f" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="Tencent" android:name="UMENG_CHANNEL"/>
    </application>
    <!-- permissoin -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
